#“Create a Selenium Hub pod inside the automation namespace, run the official Selenium Hub image,
#and expose required ports inside the cluster.”

apiVersion: apps/v1               # Using apps API group version v1 (Deployments belong here)
kind: Deployment                  # We are creating a Deployment object (manages Pods)

metadata:
  name: selenium-hub              # Name of this Deployment (used for kubectl commands)
  namespace: automation           # Namespace where this resource will be created

spec:
  replicas: 1                     # Run 1 Pod of Selenium Hub (ensures availability)

  selector:
    matchLabels:
      app: selenium-hub           # Deployment will manage Pods with this label

  template:                       # Pod template (blueprint for creating Pods)
    metadata:
      labels:
        app: selenium-hub         # Pod label (must match selector above)

    spec:
      containers:
        - name: selenium-hub      # Container name inside the Pod
          image: selenium/hub:4.18.1   # Official Selenium Hub Docker image

          ports:
            - containerPort: 4444  # Main Selenium Grid port (WebDriver + UI access)
            - containerPort: 4442  # Event Bus publish port (Nodes send events to Hub)
            - containerPort: 4443  # Event Bus subscribe port (Nodes listen to Hub events)
