apiVersion: batch/v1                    # Using batch API group (Jobs belong here)
kind: Job                               # Creating a Job (runs a task once and completes)

metadata:
  name: automation-test-job             # Name of the Job (used for kubectl reference)
  namespace: automation                 # Job runs inside 'automation' namespace

spec:
  backoffLimit: 1                       # Retry only 1 time if the Job fails (prevents infinite retries)

  template:                             # Pod template (blueprint of the Pod that will run)
    spec:
      containers:
        - name: test-runner   # Container name inside the Job Pod
          image: raziq124/selenium-grid-framework:latest
          imagePullPolicy: Always       # Always pull latest image from Docker Hub before running

      restartPolicy: Never              # Do not restart container inside same Pod if it fails
